.Footer {
    background-color: rgba(199, 234, 255, 0.35);
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;
    position: relative;
}

.footer-logo {
    display: block;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    object-fit: contain;
    margin: 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    width: 150px;
}

.footer-links a {
    color: black;
    margin: 8px 0;
    font-size: 1rem;
    font-weight: normal;
    text-align: right;
}

.footer-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.umd-logo {
    width: 100%;
    max-width: 250px;
    margin: 0;
}