.Navbar {
    padding: 15px max(20px, 4vw) 15px max(20px, 4vw);
    margin: 20px 15px 0 15px;
    border-radius: 90px;
    background-color: #C7EAFF;
    width: calc(100% - 30px);
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: #3081c4;
    flex-wrap: wrap;
    row-gap: 10px;
}

a:link, a:visited, a:active {
    color: #3081c4;
    font-weight: bold;
    text-decoration: none;
}

.dropdown {
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.dropdown-content, .dropdown-content.show {
    display: block;
    background-color: #C7EAFF;
}

.dropdown-content a {
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content {
    margin-top: 10px;
    font-size: 1.2rem;
    align-items: left;
    display: none;
    position: absolute;
    left: -10px;
}

@media (max-width: 700px) {
  .Navbar {
    flex-wrap: wrap;
    row-gap: 10px;
    max-height: none;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
  }
  .Navbar > * {
    min-width: 0;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .Navbar > *:nth-child(3n) {
    text-align: right;
  }
  .Navbar > *:nth-child(4) {
    text-align: left;
  }
  .Navbar > *:nth-child(5) {
    text-align: right;
  }
}