html, body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }

.intro-section {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 2rem auto;
    background-color: white;
    text-align: justify;
    align-content: center;
    text-justify: center;
    min-width:400px;
}

  .intro-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: '8rem';
    padding: '0rem 0rem 2rem';
  }

  .left {
    flex: 1 1 300px;
    max-width: 600px;
  }

  .paragraph {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
  }

  .right {
    flex: 0 0 300px;
    text-align: center;        
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .right .logo {
    max-width: 100%;
    min-width: 20%;
    padding: 4rem 0rem 4rem;
  }

  .date-box {
    display: block;          
    margin: 2rem auto 0;     
    background-color: rgba(199, 234, 255, 0.5);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    text-align: center;
    max-width: 900px;
    box-shadow:2px 4px 2px rgba(0, 0, 0, 0.3) ;
  }

  .umd-section {
    position: relative;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);  
    background-color: #2079AF80;  
    overflow: hidden;
    padding: 1rem 1rem;
    color: white;
  }

  .umd-overlay {
    position: flex;
    inset: 0;
    background-color: #2079AF80; 
  }

  .umd-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
    pointer-events: none;
    opacity: 40%;
  }

  .intro-section.umd-content {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    position: relative;   
    z-index: 2;
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .umd-heading {
    color: white;          
    background: none;       
    font-size: 2.0rem;     
    margin-bottom: 1rem;
    text-align: left;
    text-shadow: 2px 2px 4px #C7EAFF80;
  }

  .speakers-section {
    position: relative;
    padding: 2rem 1rem 4rem;            
    background-color: white;
    min-width: 400px;
  }


  .speakers-section .speakers-header-box {
    position: absolute;                            
    left: 70%;                           
    transform: translate(-50%, -50%);    
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    z-index: 2;
  }

  .speakers-section .title {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.5rem, 2.5rem, 2.5rem);
    background: linear-gradient(90deg, #74C7FF, #5EC1E5, #2079AF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
    padding: 0rem 1rem 0rem;     
    margin: 1rem auto;
  }

  .speakers-section .cards-container {
    justify-content:center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 6rem;
    padding: 2rem 4rem 0rem;
    max-width: 1000px;
    margin: 2.5rem auto 0;
  }


  .speaker-card {
    position: relative;
    background-color: #C6E3F7B2;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12rem;
    height: 15rem;
    box-sizing: border-box;
    cursor: pointer;
    background: #000;            

  }

  .speaker-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    background-color: #f8f9fa;
  }

  .speakerspic {
    width: 100%;          
    height: 100%;
    display:block;
    object-fit: cover;
  }

  .speaker-info {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 0 1rem 1rem;
    width: 100%;

  
    background: rgba(0,0,0,0.75); /* semi-transparent dark banner */
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;

    opacity: 0;
    transform: translateY(100%);  
    transition: opacity 0.35s ease, transform 0.35s ease;
  }

  .speaker-card:hover .speaker-info {
  opacity: 1;
  transform: translateY(0);     /* slide up into view */
  }

  .speaker-info h3 {
    margin: 0.5rem 0 0.25rem;
    color: #ebf7ff;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .speaker-info p {
    margin: 0;
    color: #666;
    font-size: 0.9rem;
  }

  .activities-section{
    position: relative;
    padding: 4rem 1rem 2rem;            
    background-color: rgba(215, 215, 215, 0.28);
    text-align: center;
  }

  #c-text{
    text-align: center;
  }

  .schedule-container {
    max-width: 1200px;
    padding: 3.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent
  }

  .schedule-left{
    flex: 1;
    text-align: center;
    color: white;
  }

  .schedule-right {
    align-self: flex-start;
    flex: 1;
    text-align: center;
    color: white;
  }

  .schedule-label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .schedule-time {
    font-size: 2rem;
    font-weight: bold;
  }

  .divider {
    width: 1px;
    height: 80px;
    background-color: white;
    margin: 0 2rem;
  }

  .schedule-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .btn {
    display: inline-block;
    background-color: white;
    color: #2079AF;
    border-radius: 2rem;
    padding: 0.5rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .slider-container {
    overflow: hidden;
    max-width: 600px;
    margin: 1rem auto;
  }

  .slider-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slider-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
  }

  .slider-slide ul {
    list-style: disc inside;
    margin: 0;
    padding: 0;
  }

  .slider-slide li {
    margin-bottom: 0.5rem;
  }

  .slider-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .slider-arrow {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .dot-nav {
    display: flex;
    gap: 0.5rem;
  }

  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
  }

  .dot.active {
    background-color: #2079AF;
    transform: scale(1.2);
  }


.advanced-card {
  background: #ffffff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgb(14, 41, 80);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  height: 100rem;
  box-sizing: border-box;
  width: 35rem;
  cursor: pointer;

}

.title-box {
  background: #C7EAFF59;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  text-align: center;
  border: 1px solid #e0e0e0;

}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  background: #86C7FC;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: 0;
  font-weight: 600;
}


.advanced-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  background-color: #f8f9fa;
}

.advanced-info {
  text-align: center;
  padding: 0 1rem 1rem;
  width: 100%;
}

.advanced-info h3 {
  margin: 0.5rem 0 0.25rem;
  color: #333;
  font-size: 1.25rem;
  font-weight: 600;
}

.advanced-info p {
  margin: 0;
  color: #666;
  font-size: 0.9rem;
}



  @media (max-width: 768px) {
    .intro-content {
      flex-direction: column;
      align-items: center;
    }
    .left, .right {
      max-width: 100%;
    }
    .title {
      font-size: 2rem;
      text-align: center;
    }
    .paragraph {
      text-align: center;
    }


  }

  @media (max-width: 700px) {
  .speakers-section .speakers-header-box {
    position: static;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    text-align: left;
    margin: 1.5rem 0 1.5rem 0;
    padding-left: 1rem;
    left: 0;
    transform: none;
    display: block;
  }

  .speakers-section .cards-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 0 0 0;
    max-width: 100vw;
    margin: 0 auto;
  }
  .speaker-card {
    margin-left: auto;
    margin-right: auto;
  }
  .intro-content {
    display: inline !important;
    flex-direction: column !important;
  }
}
