.blue-rectangle {
    width: 450px;
    height: 500px;
    background-color: #EBF3F9;
    border-radius: 20px;
}

  .white-rectangle {
    width: 425px;
    height: 100px;
    background-color: #ffffff;
    margin-top: -450px;
    border-radius: 10px;
  }

  .flex-container {
    display: -webkit-flex;
    display: flex;
    width: 450px;
    height: 1300px;
    background-color: #EBF3F9;
    border-radius: 20px;
    flex-direction: column;
    font-size: 18px;
  }
  
  .flex-item {
    width: 420px;
    height: 100px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 20px;
    
  }
  
  .white {
    background: rgb(255, 255, 255);
  }
  
  