@font-face {
  font-family: 'Inter';
  src: local("Inter"), url("./assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), url("./assets/fonts/Poppins-SemiBold.ttf");
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  background-color: white;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  color: #2079AF;
  text-align: center;
}

.logo-img {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

